body {
  font-family: Arial;
  padding: 15px;
}

input, button, select {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
}

button {
  background: #1976d2;
  color: white;
  border: none;
}

li {
  margin: 10px 0;
}
